.FormUser {
    position: relative;

    width: calc(100% - 40px);
    height: calc(100% - 40px);
    min-width: 300px;
    max-width: 420px;
    max-height: 560px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;

    background-color: #fff;
    overflow-y: auto;
}

.FormUser--title {
    margin: 0;
    margin-bottom: 1.5rem;

    font-size: 3.2rem;
}

.FormUser--inputs {
    display: flex;
    flex-direction: column;
}

.FormUser--label {
    margin-bottom: 0.5rem;

    font-size: 1.6rem;
}

.FormUser--input {
    padding: 1rem;
}

.UserForm--submit {
    margin-top: 2rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #333;
    color: #fff;
}

.FormUser--cancel {
    position: absolute;
    top: 0;
    right: 0;

    padding: 2rem;

    font-size: 2rem;

    background-color: transparent;
    color: rgb(51, 51, 51, 0.5);

    transition: transform 0.2s ease-in-out;
}

.FormUser--cancel:hover {
    color: rgb(51, 51, 51, 1);

    transform: scale(1.1);
}

.FormUser--warn {
    margin-bottom: 1rem;

    font-size: 1rem;
}