.UsersList {
    width: 100%;
    min-width: 870px;
    
    border-collapse: collapse;
    border: #e4e4e4 2px solid;
    border-top: none;

    table-layout: fixed;
}

.UsersList td,
.UsersList th {
    padding: 1rem;
    text-align: left;

    border-right: #e4e4e4 2px solid;
}

.UsersList--thead th {
    background-color: #333;
    color: #fff;
    border: #333 2px solid;
}

.UsersList--thead th:nth-child(1){
    width: 10%;
}

.UsersList--thead th:nth-child(2){
    width: 10%;
}

.UsersList--thead th:nth-child(3){
    width: 10%;
}

.UsersList--thead th:nth-child(4){
    width: 20%;
}

.UsersList--thead th:nth-child(5){
    width: 15%;
}
.UsersList--thead th:nth-child(6){
    width: 15%;
}

.UsersList--thead th:nth-child(7){
    width: 20%;
}

.UsersList--tbody tr:nth-child(2n+1) {
    background-color: #fff;
}

.UsersList--tbody tr:nth-child(2n) {
    background-color: #f4eeee;
}

.UsersList--tbody tr:hover {
    background-color: #dad8d8;
}