.UsersList {
    width: 100%;
    min-width: 870px;
    
    border-collapse: collapse;
    border-top: none;

    table-layout: fixed;
}

.UsersList td,
.UsersList th {
    padding: 1rem;
    text-align: left;
}

.UsersList--thead {
    position: sticky;
    top: 0;
    left: 0;
}

.UsersList--thead th {
    background-color: #333;
    color: #fff;
}

.UsersList--thead th:nth-child(1){
    width: 10%;
}

.UsersList--thead th:nth-child(2){
    width: 10%;
}

.UsersList--thead th:nth-child(3){
    width: 10%;
}

.UsersList--thead th:nth-child(4){
    width: 20%;
}

.UsersList--thead th:nth-child(5){
    width: 15%;
}
.UsersList--thead th:nth-child(6){
    width: 15%;
}

.UsersList--thead th:nth-child(7){
    width: 20%;
}

.UsersList--tbody th {
    border-right: #e4e4e4 2px solid;
    border-left: #e4e4e4 2px solid;
}
.UsersList--tbody td {
    border-right: #e4e4e4 2px solid;
    overflow-x: auto;
}

.UsersList--tbody tr:last-child {
    border-bottom: #e4e4e4 2px solid;
}

.UsersList--tbody tr:nth-child(2n+1) {
    background-color: #fff;
}

.UsersList--tbody tr:nth-child(2n) {
    background-color: #f4eeee;
}

.UsersList--tbody tr:hover {
    background-color: #dad8d8;
}